In [14]:
import pandas as pd
import psycopg2
import pandas.io.sql as sqlio
from password import db_password

In [15]:
connection = psycopg2.connect(user="postgres",
                                  password=db_password,
                                  host="127.0.0.1",
                                  port="5432",
                                  database="START-UP")

In [16]:
cursor= connection.cursor()
sql = "SELECT * FROM startup_alldata"
data = sqlio.read_sql_query(sql,connection)

In [17]:
data

,state_code,year_,vp_gdp,labels,founded_at,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,...,has_angel,has_rounda,has_roundb,has_roundc,has_roundd,avg_participants,is_top500,reached_milestone,founded_first_funding_days_difference,first_last_funding_days_difference
0,CA,2007,1.9,1,2007,2.2493,3.0027,4.6685,6.7041,3,...,1,0,0,0,0,1.0000,0,1,821,275
1,CA,2000,7.7,1,2000,5.1260,9.9973,7.0055,7.0055,9,...,0,0,1,1,1,4.7500,1,1,1871,1778
2,CA,2009,-3.2,1,2009,1.0329,1.0329,1.4575,2.2055,5,...,0,1,0,0,0,4.0000,1,1,377,0
3,CA,2002,1.8,1,2002,3.1315,5.3151,6.0027,6.0027,5,...,0,0,1,1,1,3.3333,1,1,1143,797
4,CA,2010,2.0,0,2010,0.0000,1.6685,0.0384,0.0384,2,...,1,0,0,0,0,1.0000,1,1,0,609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,WA,2000,0.7,1,2000,5.6301,8.7589,8.5041,8.7589,9,...,0,0,0,1,1,5.6000,1,1,2055,1142
904,CA,2009,-3.2,1,2009,0.5178,0.5178,0.5808,4.5260,9,...,0,1,0,0,0,6.0000,1,1,189,0
905,CA,1999,7.2,0,1999,8.4959,8.4959,9.0055,9.0055,5,...,0,0,0,0,1,8.0000,1,1,3101,0
906,CA,2009,-3.2,1,2009,0.7589,2.8329,0.7589,3.8356,12,...,0,1,1,0,0,1.0000,1,1,277,757
907,CA,2003,3.9,1,2003,3.1205,3.1205,4.0027,4.0027,4,...,0,0,1,0,0,3.0000,1,1,1139,0