In [12]:
import pandas as pd

In [13]:
state_data = pd.read_csv('Resources/state_data.csv')

In [14]:
state_dict = {"Alabama": "AL", "Alaska": "AK", "Arizona": "AZ", "Arkansas": "AR", "California": "CA", "Colorado": "CO", "Connecticut": "CT", "Delaware": "DE", "District of Columbia": "DC", "Florida": "FL", "Georgia": "GA", "Hawaii": "HI", "Idaho": "ID", "Illinois": "IL", "Indiana": "IN", "Iowa": "IA", "Kansas": "KS", "Kentucky": "KY", "Louisiana": "LA", "Maine": "ME", "Maryland": "MD", "Massachusetts": "MA", "Michigan": "MI", "Minnesota": "MN", "Mississippi": "MS", "Missouri": "MO", "Montana": "MT", "Nebraska": "NE", "Nevada": "NV", "New Hampshire": "NH", "New Jersey": "NJ", "New Mexico": "NM", "New York": "NY", "North Carolina": "NC", "North Dakota": "ND", "Ohio": "OH", "Oklahoma": "OK", "Oregon": "OR", "Pennsylvania": "PA", "Rhode Island": "RI", "South Carolina": "SC", "South Dakota": "SD", "Tennessee": "TN", "Texas": "TX", "Utah": "UT", "Vermont": "VT", "Virginia": "VA", "Washington": "WA", "West Virginia": "WV", "Wisconsin": "WI", "Wyoming": "WY"}

In [15]:
state_data.State = state_data.State.map(state_dict)

In [16]:
state_data.to_csv('Resources/state_data_clean.csv', index=False)

In [17]:
state_data.describe()

              Year         GDP
count  1173.000000  1173.000000
mean   2010.000000     2.710230
std       6.636079     2.068288
min    1999.000000     0.000000
25%    2004.000000     1.200000
50%    2010.000000     2.300000
75%    2016.000000     3.800000
max    2021.000000    22.400000